@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

@media print {
  .no-print {
    display: none !important;
  }
  main {
    overflow: visible !important;
    padding: 0 !important;
  }
}
